$background-image-size: 53px 73px;
$background-image-file: "bg2.png";

$center-width: 960px;

$body-text-color: white;

$color-one: #FF7700;
$color-one-2: #FFA700;
$color-one-3: #FF4800;

$color-two: #122A14;
