@import 'css/_include';

html {
  height: 100%;
}

body {
  font-family: 'Avenir Light', 'Trebuchet MS', Arial, sans-serif;
  color: $body-text-color;
  background-color: $color-two;
  background: url($background-image-file);
  background-attachment: fixed;
  background-size: $background-image-size;
  height: 100%;
}

a {
  font-family: 'Avenir Roman', 'Trebuchet MS', Arial, sans-serif;
  color: $color-one;
  text-decoration: none;
  transition: color .7s ease;
  &:hover {
    color: $color-one-2;
  }
  &:active {
    color: $color-one-3;
    transition: none;
  }
}

h1 {
  font-family: 'Avenir Light', 'Trebuchet MS', Arial, sans-serif;
}

#react-mount {
  height: 100%;
}

.contentWrapperDiv {
  top: 25vh;
}
