@import 'css/_include';

.menuBarItemSpan {
  color: $color-one;
  font-size: 18pt;
  //@include link($color-one, $color-one-2, $color-one-3);
}

.menuBarItemSeparator {
  margin-left: 15px;
  margin-right: 15px;
}
